<!DOCTYPE HTML>
<style>
    .myDiv {
        border: 1px outset black;
        text-align: left;
        max-width: 500px;
        padding: 5px;
        text-align: center;
    }
</style>

<html lang="en">
    <head>
        <title>EarthQuake : Parameter Input</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
</html>
<body>
    <h1>EarthQuake Data : Parameter Input</h1>
    <form action="/earthquake_data_gatherer" method="post">
        <div class="myDiv">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" pattern="\d{4}-\d{2}-\d{2}" required><br><br>
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" id="end_date" pattern="\d{4}-\d{2}-\d{2}" required><br><br>
        </div>
        <div class="myDiv">
            <label for="min_mag">Minimum Magnitude</label>
            <input type="number" name="min_mag" id="min_mag" pattern="0-9" min="1" max="10" value="1" >
            <label for="max_mag">Maximum Magnitude</label>
            <input type="number" name="max_mag" id="max_mag" pattern="0-9" min="1" max="10" value="10">
        </div>
        <div class="myDiv">
            <input type ="submit" id="submit" value="Submit">
        </div>
        <div id="result"></div>
        <script>
            $(document).ready(function() 
            {
                $("#run-script").click(function() 
                {
                    $.ajax
                    ({
                        type: "POST",
                        url: "/run_script",
                        success: function(response) 
                        {
                            $("#result").html(response.result);
                        }
                    });
                });
            });
        </script>
    </form>
</body>

<script>
    var min_mag = document.getElementById("min_mag");
    var max_mag = document.getElementById("max_mag");
    min_mag.addEventListener("input",function()
    {
        if ( parseInt(max_mag.value) < parseInt(this.value) )
            max_mag.value = this.value
    });

    max_mag.addEventListener("input",function()
    {
        if ( parseInt(min_mag.value) > parseInt(this.value) )
            min_mag.value = this.value
    });
</script>
